<!-- <!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create User</legend>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td>Type</td>
					<td><input type="text" name="type"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Create"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html> -->
<%- include('../partials/preloader.ejs')%>
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/sidebar_right.ejs')%>
<%- include('../partials/admin_sidebar')%>


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Add Super Adminnnnnnn</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add Super Admin</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>

			

			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<h4 class="text-blue h4">Add Super Admin </h4>
					
				</div>
				<div class="wizard-content">
					<form class="tab-wizard wizard-circle wizard">
						<h5>Logging Info</h5>
						<section>
							
							<div class="form-group">
								<label>Username</label>
                                <input class="form-control" type="text" placeholder="" id="unamecreate" name="username">
                                <div id="alert">
                                    <!--  -->
                                </div>
							</div>
							<div class="form-group">
								<label>Password</label>
								<input class="form-control" value="" type="password">
							</div>

						</section>
						<!-- Step 2 -->
						<h5>Personal Info</h5>
						<section>
							
							<div class="form-group">
								<label>Name</label>
								<input class="form-control" type="text" placeholder="ab cd">
							</div>
							<div class="form-group">
								<label>Mobile</label>
								<input class="form-control" type="number">
							</div>
							<div class="form-group">
								<label>Email</label>
								<input class="form-control" placeholder="bootstrap@example.com" type="email">
							</div>
							<div class="form-group">
								<label>Gender</label>
								<select class="form-control" >
									<option>Choose..</option>
									<option value="Male">Male</option>
									<option value="Female">Female</option>
									<option value="Others">Others</option>
								</select>
							</div>
							<div class="form-group">
								<label>Address</label>
								<textarea class="form-control"></textarea>
							</div>
							<div class="form-group">
								<label>Image</label>
								<div class="custom-file">
									<input type="file" class="custom-file-input">
									<label class="custom-file-label">Choose file</label>
								</div>
							</div>
						</section>
						
					</form>
				</div>
			</div>


            
        </div>
    </div>
</div>
<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src = "../assets/js/username.js"></script>